# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/
*.env

# idea files
.idea/


# Next.js
.next/
out/

## Vercel
#.vercel

# Node.js
node_modules/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*!/.gitignore

